<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <appSettings>

      <!-- Journal file for definitions of structure points, channels, etc. -->
      <add key="JournalFile" value="C:\Users\Jason\Documents\GitHub\jrh.forex\jrh.forex\Journal.txt" />
      
      <!-- MT4 history file location -->
      <add key="BarsPath" value="C:\Users\Jason\AppData\Roaming\MetaQuotes\Terminal\3212703ED955F10C7534BE8497B221F4\history\OANDA-GMT-5 Live\" />
        
      <!-- Folder MT4 will see with FileOpen(), etc. -->
      <add key="OutputPath" value="C:\Users\Jason\AppData\Roaming\MetaQuotes\Terminal\3212703ED955F10C7534BE8497B221F4\MQL4\Files\" />

      <!-- The name of the file sourced by the journal and dropped in the MT4 incoming file path -->
      <add key="DropFile" value="jrh.forex.txt"/> 

      <!-- When watching file, wait this many seconds between journal file process-->
      <add key="WatchDelaySeconds" value="60" />
      
    </appSettings>

    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

</configuration>